
<div class="container">
	<div class="row">
		<div class="col-4">
			<ul>
				{{#each burger_name}}
				{{#unless devoured}}
					{{> burgers/burger-block devoured=false}}
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-4">
				<ul>
					{{#each burger_name}}
					{{#if devoured}}
					<li>
						{{burger_name}}
					</li>
					{{/if}}
					{{/each}}
				</ul>
		</div>
	</div>
</div>
