
<li id="burgerList">
	{{this.id}}. {{this.burger_name}}
	<a  href="#" class="badge badge-warning badge-pill devour devourButton"  data-id="{{id}}" data-devour="{{devoured}}">
		{{#unless devoured}}devour{{/unless}}
	</a>
</li>
